In [6]:
import nfl

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import json
import requests
from bs4 import BeautifulSoup as soup

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

# import seaborn as sns
# sns.set()

In [23]:
df = nfl.load_data(2022)
df.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NaN,NaN,NaN,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.443521,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,1.468819,NaN,NaN,NaN,NaN,NaN,0.440373,-44.037291
3,89,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.492192,0.727261,6.988125,6.0,0.60693,0.227598,0.389904,61.009598
4,115,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.325931,NaN,NaN,NaN,NaN,NaN,0.443575,-44.357494

https://en.wikipedia.org/wiki/Timeline_of_the_National_Football_League#The_1980s_and_1990s

In [108]:
#how many wins in a season does a team T have?
# open games.csv
games = pd.read_csv('games.csv')
games.head()
cols = ['game_id', 'season', 'game_type', 'week', 'home_team', 'away_team', 'home_score', 'away_score', 'result', 'total', 'overtime']
games = games[cols]
games.head()
#

,game_id,season,game_type,week,home_team,away_team,home_score,away_score,result,total,overtime
0,1999_01_MIN_ATL,1999,REG,1,ATL,MIN,14,17,-3,31,0
1,1999_01_KC_CHI,1999,REG,1,CHI,KC,20,17,3,37,0
2,1999_01_PIT_CLE,1999,REG,1,CLE,PIT,0,43,-43,43,0
3,1999_01_OAK_GB,1999,REG,1,GB,OAK,28,24,4,52,0
4,1999_01_BUF_IND,1999,REG,1,IND,BUF,31,14,17,45,0

In [109]:
def transform(row):
    if row['result'] > 0:
        row['home_team_record'] = 1
        row['away_team_record'] = 0
    elif row['result'] < 0:
        row['home_team_record'] = 0
        row['away_team_record'] = 1
    else:
        row['home_team_record'] = 0.5
        row['away_team_record'] = 0.5
    return row

games['home_team_record'] = 0
games['away_team_record'] = 0
# apply the function to each row of the DataFrame
games1 = games.apply(transform, axis=1)
games1.head()

,game_id,season,game_type,week,home_team,away_team,home_score,away_score,result,total,overtime,home_team_record,away_team_record
0,1999_01_MIN_ATL,1999,REG,1,ATL,MIN,14,17,-3,31,0,0.0,1.0
1,1999_01_KC_CHI,1999,REG,1,CHI,KC,20,17,3,37,0,1.0,0.0
2,1999_01_PIT_CLE,1999,REG,1,CLE,PIT,0,43,-43,43,0,0.0,1.0
3,1999_01_OAK_GB,1999,REG,1,GB,OAK,28,24,4,52,0,1.0,0.0
4,1999_01_BUF_IND,1999,REG,1,IND,BUF,31,14,17,45,0,1.0,0.0

In [112]:
g = games[games['season'] ==1999]
sorted(g['home_team'].unique())

['ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GB',
 'IND',
 'JAX',
 'KC',
 'MIA',
 'MIN',
 'NE',
 'NO',
 'NYG',
 'NYJ',
 'OAK',
 'PHI',
 'PIT',
 'SD',
 'SEA',
 'SF',
 'STL',
 'TB',
 'TEN',
 'WAS']

In [24]:
#find how many games were played in the 2022 season
games = df['game_id'].unique().shape[0]
games = df['game_id'].unique().size
games

284

In [25]:
# how many weeks
num_weeks = df.week.unique().size
num_weeks
# data.week.unique()

22

In [26]:
#list games by week
g = df.groupby(['week'])
g[['game_id']].count()

      game_id
week
1        2893
2        2779
3        2853
4        2828
5        2834
6        2507
7        2419
8        2618
9        2276
10       2523
11       2452
12       2826
13       2680
14       2300
15       2900
16       2790
17       2596
18       2767
19       1098
20        692
21        338
22        178

In [30]:
nodups = df.drop_duplicates(subset='game_id')
g = nodups.groupby('week')
g['game_id'].count()

week
1     16
2     16
3     16
4     16
5     16
6     14
7     14
8     15
9     13
10    14
11    14
12    16
13    15
14    13
15    16
16    16
17    15
18    16
19     6
20     4
21     2
22     1
Name: game_id, dtype: int64

In [32]:
for name, group in g['game_id']:
    print(f"Group '{name}':")
    print(group)

Group '1':
0       2022_01_BAL_NYJ
179      2022_01_BUF_LA
341     2022_01_CLE_CAR
527     2022_01_DEN_SEA
689      2022_01_GB_MIN
854     2022_01_IND_HOU
1074    2022_01_JAX_WAS
1264     2022_01_KC_ARI
1439     2022_01_LV_LAC
1604     2022_01_NE_MIA
1758     2022_01_NO_ATL
1949    2022_01_NYG_TEN
2121    2022_01_PHI_DET
2321    2022_01_PIT_CIN
2538     2022_01_SF_CHI
2719     2022_01_TB_DAL
Name: game_id, dtype: object
Group '2':
2893     2022_02_ARI_LV
3094     2022_02_ATL_LA
3259    2022_02_CAR_NYG
3435     2022_02_CHI_GB
3584    2022_02_CIN_DAL
3762    2022_02_HOU_DEN
3944    2022_02_IND_JAX
4102     2022_02_LAC_KC
4278    2022_02_MIA_BAL
4454    2022_02_MIN_PHI
4625     2022_02_NE_PIT
4795    2022_02_NYJ_CLE
4981     2022_02_SEA_SF
5145      2022_02_TB_NO
5323    2022_02_TEN_BUF
5491    2022_02_WAS_DET
Name: game_id, dtype: object
Group '3':
5672    2022_03_ATL_SEA
5839     2022_03_BAL_NE
6008    2022_03_BUF_MIA
6185    2022_03_CIN_NYJ
6375    2022_03_DAL_NYG
6559    2022_03_DET_MIN
6755      2022_03_GB_TB
6927    2022_03_HOU_CHI
7108    2022_03_JAX_LAC
7283     2022_03_KC_IND
7455     2022_03_LA_ARI
7632     2022_03_LV_TEN
7805     2022_03_NO_CAR
7982    2022_03_PHI_WAS
8172    2022_03_PIT_CLE
8351     2022_03_SF_DEN
Name: game_id, dtype: object
Group '4':
8525     2022_04_ARI_CAR
8693     2022_04_BUF_BAL
8867     2022_04_CHI_NYG
9043     2022_04_CLE_ATL
9210      2022_04_DEN_LV
9386     2022_04_JAX_PHI
9555       2022_04_KC_TB
9745     2022_04_LAC_HOU
9922       2022_04_LA_SF
10088    2022_04_MIA_CIN
10263     2022_04_MIN_NO
10446      2022_04_NE_GB
10633    2022_04_NYJ_PIT
10812    2022_04_SEA_DET
11009    2022_04_TEN_IND
11170    2022_04_WAS_DAL
Name: game_id, dtype: object
Group '5':
11353     2022_05_ATL_TB
11537    2022_05_CHI_MIN
11706    2022_05_CIN_BAL
11874     2022_05_DAL_LA
12041     2022_05_DET_NE
12205    2022_05_HOU_JAX
12376    2022_05_IND_DEN
12582    2022_05_LAC_CLE
12763      2022_05_LV_KC
12944    2022_05_MIA_NYJ
13116     2022_05_NYG_GB
13285    2022_05_PHI_ARI
13469    2022_05_PIT_BUF
13641     2022_05_SEA_NO
13830     2022_05_SF_CAR
14012    2022_05_TEN_WAS
Name: game_id, dtype: object
Group '6':
14187    2022_06_ARI_SEA
14374    2022_06_BAL_NYG
14543     2022_06_BUF_KC
14725     2022_06_CAR_LA
14879     2022_06_CIN_NO
15055    2022_06_DAL_PHI
15231    2022_06_DEN_LAC
15435    2022_06_JAX_IND
15620    2022_06_MIN_MIA
15799     2022_06_NE_CLE
15987     2022_06_NYJ_GB
16161     2022_06_SF_ATL
16325     2022_06_TB_PIT
16510    2022_06_WAS_CHI
Name: game_id, dtype: object
Group '7':
16694    2022_07_ATL_CIN
16851     2022_07_CHI_NE
17014    2022_07_CLE_BAL
17183    2022_07_DET_DAL
17344     2022_07_GB_WAS
17518     2022_07_HOU_LV
17681    2022_07_IND_TEN
17841      2022_07_KC_SF
18028     2022_07_NO_ARI
18218    2022_07_NYG_JAX
18410    2022_07_NYJ_DEN
18593    2022_07_PIT_MIA
18773    2022_07_SEA_LAC
18959     2022_07_TB_CAR
Name: game_id, dtype: object
Group '8':
19113    2022_08_ARI_MIN
19312     2022_08_BAL_TB
19504    2022_08_CAR_ATL
19711    2022_08_CHI_DAL
19895    2022_08_CIN_CLE
20060    2022_08_DEN_JAX
20240     2022_08_GB_BUF
20405      2022_08_LV_NO
20564    2022_08_MIA_DET
20731     2022_08_NE_NYJ
20914    2022_08_NYG_SEA
21090    2022_08_PIT_PHI
21265      2022_08_SF_LA
21414    2022_08_TEN_HOU
21572    2022_08_WAS_IND
Name: game_id, dtype: object
Group '9':
21731     2022_09_BAL_NO
21895    2022_09_BUF_NYJ
22058    2022_09_CAR_CIN
22224     2022_09_GB_DET
22389     2022_09_IND_NE
22562    2022_09_LAC_ATL
22732      2022_09_LA_TB
22924     2022_09_LV_JAX
23098    2022_09_MIA_CHI
23282    2022_09_MIN_WAS
23456    2022_09_PHI_HOU
23621    2022_09_SEA_ARI
23807     2022_09_TEN_KC
Name: game_id, dtype: object
Group '10':
24007     2022_10_ARI_LA
24186    2022_10_ATL_CAR
24364    2022_10_CLE_MIA
24536     2022_10_DAL_GB
24733    2022_10_DEN_TEN
24925    2022_10_DET_CHI
25104    2022_10_HOU_NYG
25286     2022_10_IND_LV
25459     2022_10_JAX_KC
25626     2022_10_LAC_SF
25801    2022_10_MIN_BUF
26016     2022_10_NO_PIT
26187     2022_10_SEA_TB
26353    2022_10_WAS_PHI
Name: game_id, dtype: object
Group '11':
26530    2022_11_CAR_BAL
26701    2022_11_CHI_ATL
26868    2022_11_CIN_PIT
27067    2022_11_CLE_BUF
27257    2022_11_DAL_MIN
27432    2022_11_DET_NYG
27617     2022_11_KC_LAC
27794      2022_11_LA_NO
27964     2022_11_LV_DEN
28143     2022_11_NYJ_NE
28307    2022_11_PHI_IND
28482     2022_11_SF_ARI
28650     2022_11_TEN_GB
28814    2022_11_WAS_HOU
Name: game_id, dtype: object
Group '12':
28982    2022_12_ATL_WAS
29140    2022_12_BAL_JAX
29322    2022_12_BUF_DET
29511    2022_12_CHI_NYJ
29670    2022_12_CIN_TEN
29842    2022_12_DEN_CAR
30014     2022_12_GB_PHI
30192    2022_12_HOU_MIA
30374    2022_12_LAC_ARI
30551      2022_12_LA_KC
30722     2022_12_LV_SEA
30916     2022_12_NE_MIN
31090      2022_12_NO_SF
31250    2022_12_NYG_DAL
31434    2022_12_PIT_IND
31607     2022_12_TB_CLE
Name: game_id, dtype: object
Group '13':
31808     2022_13_BUF_NE
31976    2022_13_CLE_HOU
32151    2022_13_DEN_BAL
32321     2022_13_GB_CHI
32493    2022_13_IND_DAL
32676    2022_13_JAX_DET
32849     2022_13_KC_CIN
33015     2022_13_LAC_LV
33199     2022_13_MIA_SF
33379      2022_13_NO_TB
33560    2022_13_NYJ_MIN
33762    2022_13_PIT_ATL
33925     2022_13_SEA_LA
34104    2022_13_TEN_PHI
34284    2022_13_WAS_NYG
Name: game_id, dtype: object
Group '14':
34488    2022_14_BAL_PIT
34639    2022_14_CAR_SEA
34809    2022_14_CLE_CIN
34989    2022_14_HOU_DAL
35173    2022_14_JAX_TEN
35356     2022_14_KC_DEN
35546      2022_14_LV_LA
35712    2022_14_MIA_LAC
35892    2022_14_MIN_DET
36075     2022_14_NE_ARI
36254    2022_14_NYJ_BUF
36435    2022_14_PHI_NYG
36611      2022_14_TB_SF
Name: game_id, dtype: object
Group '15':
36788    2022_15_ARI_DEN
36967     2022_15_ATL_NO
37137    2022_15_BAL_CLE
37300     2022_15_CIN_TB
37482    2022_15_DAL_JAX
37680    2022_15_DET_NYJ
37854    2022_15_IND_MIN
38097     2022_15_KC_HOU
38283      2022_15_LA_GB
38439    2022_15_MIA_BUF
38627      2022_15_NE_LV
38818    2022_15_NYG_WAS
38989    2022_15_PHI_CHI
39179    2022_15_PIT_CAR
39337     2022_15_SF_SEA
39509    2022_15_TEN_LAC
Name: game_id, dtype: object
Group '16':
39688    2022_16_ATL_BAL
39846    2022_16_BUF_CHI
40025     2022_16_CIN_NE
40212     2022_16_DEN_LA
40384    2022_16_DET_CAR
40565     2022_16_GB_MIA
40727    2022_16_HOU_TEN
40897    2022_16_JAX_NYJ
41071    2022_16_LAC_IND
41225     2022_16_LV_PIT
41383     2022_16_NO_CLE
41545    2022_16_NYG_MIN
41732    2022_16_PHI_DAL
41923     2022_16_SEA_KC
42095     2022_16_TB_ARI
42306     2022_16_WAS_SF
Name: game_id, dtype: object
Group '17':
42478    2022_17_ARI_ATL
42660     2022_17_CAR_TB
42855    2022_17_CHI_DET
43023    2022_17_CLE_WAS
43188    2022_17_DAL_TEN
43372     2022_17_DEN_KC
43544    2022_17_IND_NYG
43700    2022_17_JAX_HOU
43870     2022_17_LA_LAC
44020     2022_17_MIA_NE
44201     2022_17_MIN_GB
44369     2022_17_NO_PHI
44539    2022_17_NYJ_SEA
44726    2022_17_PIT_BAL
44887      2022_17_SF_LV
Name: game_id, dtype: object
Group '18':
45074     2022_18_ARI_SF
45229    2022_18_BAL_CIN
45418     2022_18_CAR_NO
45572    2022_18_CLE_PIT
45749    2022_18_DAL_WAS
45928     2022_18_DET_GB
46095    2022_18_HOU_IND
46280      2022_18_KC_LV
46447    2022_18_LAC_DEN
46625     2022_18_LA_SEA
46812    2022_18_MIN_CHI
46996     2022_18_NE_BUF
47162    2022_18_NYG_PHI
47348    2022_18_NYJ_MIA
47510     2022_18_TB_ATL
47674    2022_18_TEN_JAX
Name: game_id, dtype: object
Group '19':
47841    2022_19_BAL_CIN
48008     2022_19_DAL_TB
48198    2022_19_LAC_JAX
48389    2022_19_MIA_BUF
48594    2022_19_NYG_MIN
48763     2022_19_SEA_SF
Name: game_id, dtype: object
Group '20':
48939    2022_20_CIN_BUF
49116     2022_20_DAL_SF
49290     2022_20_JAX_KC
49464    2022_20_NYG_PHI
Name: game_id, dtype: object
Group '21':
49631    2022_21_CIN_KC
49812    2022_21_SF_PHI
Name: game_id, dtype: object
Group '22':
49969    2022_22_KC_PHI
Name: game_id, dtype: object

In [42]:
#list all the teams
num_teams = df.home_team.unique().size
teams = df.home_team.unique()
teams = sorted(teams)
teams

['ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GB',
 'HOU',
 'IND',
 'JAX',
 'KC',
 'LA',
 'LAC',
 'LV',
 'MIA',
 'MIN',
 'NE',
 'NO',
 'NYG',
 'NYJ',
 'PHI',
 'PIT',
 'SEA',
 'SF',
 'TB',
 'TEN',
 'WAS']

In [43]:
#abbreviations
teams = {
    'ARI': 'Arizona Cardinals',
    'ATL': 'Atlanta Falcons',
    'BAL':'Baltimore Ravens',
    'BUF':'Buffalo Bills',
    'CAR':'Carolina Panthers',
    'CHI':'Chicago Bears',
    'CIN':'Cincinnati Bengals',
    'CLE':'Cleveland Browns',
    'DAL':'Dallas Cowboys',
    'DEN':'Denver Broncos',
    'DET':'Detroit Lions',
    'GB':'Green Bay Packers',
    'HOU':'Houston Texans',
    'IND':'Indianapolis Colts',
    'JAX':'Jacksonville Jaguars',
    'KC':'Kansas City Chiefs',
    'LA':'Los Angeles Rams',
    'LAC':'Los Angeles Chargers',
    'LV':'Las Vegas Raiders',
    'MIA':'Miami Dolphins',
    'MIN':'Minnesota Vikings',
    'NE':'New England Patriots,
    'NO':'New Orleans Saints',
    'NYG':'New York Giants',
    'NYJ':'New York Jets',
    'PHI':'Philadelphia Eagles',
    'PIT':'Pittsburgh Steelers',
    'SEA':'Seattle Seahawks',
    'SF':'San Francisco 49ers',
    'TB':'Tampa Bay Buccaneers',
    'TEN':'Tennessee Titans',
    'WAS':'Washington Commanders'
}

SyntaxError: EOL while scanning string literal (2830134999.py, line 24)

In [59]:
data1 = pd.read_html('https://en.wikipedia.org/wiki/Wikipedia:WikiProject_National_Football_League/National_Football_League_team_abbreviations')
# table = pd.DataFrame(data1[0], header=0)
table = table.rename(columns=table.iloc[0])
table = table.iloc[1:]
table

,Franchise,Official Team Abbreviation Codes,Commonly Used Abbreviations
1,Arizona Cardinals,ARZ,ARI
2,Atlanta Falcons,ATL,ATL
3,Baltimore Ravens,BLT,BAL
4,Buffalo Bills,BUF,BUF
5,Carolina Panthers,CAR,CAR
6,Chicago Bears,CHI,CHI
7,Cincinnati Bengals,CIN,CIN
8,Cleveland Browns,CLV,CLE
9,Dallas Cowboys,DAL,DAL
10,Denver Broncos,DEN,DEN
11,Detroit Lions,DET,DET
12,Green Bay Packers,GB,GB
13,Houston Texans,HST,HOU
14,Indianapolis Colts,IND,IND
15,Jacksonville Jaguars,JAX,JAC
16,Kansas City Chiefs,KC,KC
17,Las Vegas Raiders,LV,LV
18,Los Angeles Chargers,LAC,LAC
19,Los Angeles Rams,LA,LAR
20,Miami Dolphins,MIA,MIA
21,Minnesota Vikings,MIN,MIN
22,New England Patriots,NE,NE
23,New Orleans Saints,NO,NO
24,New York Giants,NYG,NYG
25,New York Jets,NYJ,NYJ
26,Philadelphia Eagles,PHI,PHI
27,Pittsburgh Steelers,PIT,PIT
28,San Francisco 49ers,SF,SF
29,Seattle Seahawks,SEA,SEA
30,Tampa Bay Buccaneers,TB,TB
31,Tennessee Titans,TEN,TEN
32,Washington Commanders,WAS,WAS

In [56]:
type(data1[0])

pandas.core.frame.DataFrame

In [62]:
ts = pd.read_html('https://www.nfl.com/standings/division/2022/REG')

In [63]:
ts[1]

,AFC NORTH,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5
0,Cincinnati Bengals xzBengals xz,12,4,0,0.750,418,322,96,6 - 1 - 0,6 - 3 - 0,3 - 3 - 0,0.5,8 - 3 - 0,0.727,4 - 1 - 0,8W,5 - 0 - 0
1,Baltimore Ravens xRavens x,10,7,0,0.588,350,315,35,5 - 3 - 0,5 - 4 - 0,3 - 3 - 0,0.5,6 - 6 - 0,0.500,4 - 1 - 0,2L,2 - 3 - 0
2,Pittsburgh SteelersSteelers,9,8,0,0.529,308,346,-38,4 - 4 - 0,5 - 4 - 0,3 - 3 - 0,0.5,5 - 7 - 0,0.417,4 - 1 - 0,4W,4 - 1 - 0
3,Cleveland BrownsBrowns,7,10,0,0.412,361,381,-20,4 - 4 - 0,3 - 6 - 0,3 - 3 - 0,0.5,4 - 8 - 0,0.333,3 - 2 - 0,1L,2 - 3 - 0

In [97]:
dt = pd.read_html('https://gist.github.com/cnizzardini/13d0a072adb35a0d5817')

In [98]:
tab = dt[0]
tab = tab[['Name', 'Abbreviation', 'Conference', 'Division']]
tab

                     Name Abbreviation Conference Division
0       Arizona Cardinals          ARI        NFC     West
1         Atlanta Falcons          ATL        NFC    South
2        Baltimore Ravens          BAL        AFC    North
3           Buffalo Bills          BUF        AFC     East
4       Carolina Panthers          CAR        NFC    South
5           Chicago Bears          CHI        NFC    North
6      Cincinnati Bengals          CIN        AFC    North
7        Cleveland Browns          CLE        AFC    North
8          Dallas Cowboys          DAL        NFC     East
9          Denver Broncos          DEN        AFC     West
10          Detroit Lions          DET        NFC    North
11      Green Bay Packers           GB        NFC    North
12         Houston Texans          HOU        AFC    South
13     Indianapolis Colts          IND        AFC    South
14   Jacksonville Jaguars          JAX        AFC    South
15     Kansas City Chiefs           KC        AFC     West
16         Miami Dolphins          MIA        AFC     East
17      Minnesota Vikings          MIN        NFC    North
18   New England Patriots           NE        AFC     East
19     New Orleans Saints           NO        NFC    South
20        New York Giants          NYG        NFC     East
21          New York Jets          NYJ        AFC     East
22      Las Vegas Raiders           LV        AFC     West
23    Philadelphia Eagles          PHI        NFC     East
24    Pittsburgh Steelers          PIT        AFC    North
25   Los Angeles Chargers          LAC        AFC     West
26    San Francisco 49ers           SF        NFC     West
27       Seattle Seahawks          SEA        NFC     West
28       Los Angeles Rams          LAR        NFC     West
29   Tampa Bay Buccaneers           TB        NFC    South
30       Tennessee Titans          TEN        AFC    South
31  Washington Commanders          WAS        NFC     East

In [100]:
tab = tab.sort_values(['Conference', 'Division','Abbreviation']).reset_index(drop=True)
# tab.loc[29, 'Abbreviation'] = 'LA'
tab.iloc[29,1] = 'LA'
tab

                     Name Abbreviation Conference Division
0           Buffalo Bills          BUF        AFC     East
1          Miami Dolphins          MIA        AFC     East
2    New England Patriots           NE        AFC     East
3           New York Jets          NYJ        AFC     East
4        Baltimore Ravens          BAL        AFC    North
5      Cincinnati Bengals          CIN        AFC    North
6        Cleveland Browns          CLE        AFC    North
7     Pittsburgh Steelers          PIT        AFC    North
8          Houston Texans          HOU        AFC    South
9      Indianapolis Colts          IND        AFC    South
10   Jacksonville Jaguars          JAX        AFC    South
11       Tennessee Titans          TEN        AFC    South
12         Denver Broncos          DEN        AFC     West
13     Kansas City Chiefs           KC        AFC     West
14   Los Angeles Chargers          LAC        AFC     West
15      Las Vegas Raiders           LV        AFC     West
16         Dallas Cowboys          DAL        NFC     East
17        New York Giants          NYG        NFC     East
18    Philadelphia Eagles          PHI        NFC     East
19  Washington Commanders          WAS        NFC     East
20          Chicago Bears          CHI        NFC    North
21          Detroit Lions          DET        NFC    North
22      Green Bay Packers           GB        NFC    North
23      Minnesota Vikings          MIN        NFC    North
24        Atlanta Falcons          ATL        NFC    South
25      Carolina Panthers          CAR        NFC    South
26     New Orleans Saints           NO        NFC    South
27   Tampa Bay Buccaneers           TB        NFC    South
28      Arizona Cardinals          ARI        NFC     West
29       Los Angeles Rams           LA        NFC     West
30       Seattle Seahawks          SEA        NFC     West
31    San Francisco 49ers           SF        NFC     West

In [101]:
tab['Div'] = tab['Conference'] + ' ' + tab['Division']
# tab['Conference'] + ' ' + tab['Division']

In [104]:
sorted(tab['Abbreviation']) == teams

True

In [105]:
tab

                     Name Abbreviation Conference Division        Div
0           Buffalo Bills          BUF        AFC     East   AFC East
1          Miami Dolphins          MIA        AFC     East   AFC East
2    New England Patriots           NE        AFC     East   AFC East
3           New York Jets          NYJ        AFC     East   AFC East
4        Baltimore Ravens          BAL        AFC    North  AFC North
5      Cincinnati Bengals          CIN        AFC    North  AFC North
6        Cleveland Browns          CLE        AFC    North  AFC North
7     Pittsburgh Steelers          PIT        AFC    North  AFC North
8          Houston Texans          HOU        AFC    South  AFC South
9      Indianapolis Colts          IND        AFC    South  AFC South
10   Jacksonville Jaguars          JAX        AFC    South  AFC South
11       Tennessee Titans          TEN        AFC    South  AFC South
12         Denver Broncos          DEN        AFC     West   AFC West
13     Kansas City Chiefs           KC        AFC     West   AFC West
14   Los Angeles Chargers          LAC        AFC     West   AFC West
15      Las Vegas Raiders           LV        AFC     West   AFC West
16         Dallas Cowboys          DAL        NFC     East   NFC East
17        New York Giants          NYG        NFC     East   NFC East
18    Philadelphia Eagles          PHI        NFC     East   NFC East
19  Washington Commanders          WAS        NFC     East   NFC East
20          Chicago Bears          CHI        NFC    North  NFC North
21          Detroit Lions          DET        NFC    North  NFC North
22      Green Bay Packers           GB        NFC    North  NFC North
23      Minnesota Vikings          MIN        NFC    North  NFC North
24        Atlanta Falcons          ATL        NFC    South  NFC South
25      Carolina Panthers          CAR        NFC    South  NFC South
26     New Orleans Saints           NO        NFC    South  NFC South
27   Tampa Bay Buccaneers           TB        NFC    South  NFC South
28      Arizona Cardinals          ARI        NFC     West   NFC West
29       Los Angeles Rams           LA        NFC     West   NFC West
30       Seattle Seahawks          SEA        NFC     West   NFC West
31    San Francisco 49ers           SF        NFC     West   NFC West

In [103]:
teams

['ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GB',
 'HOU',
 'IND',
 'JAX',
 'KC',
 'LA',
 'LAC',
 'LV',
 'MIA',
 'MIN',
 'NE',
 'NO',
 'NYG',
 'NYJ',
 'PHI',
 'PIT',
 'SEA',
 'SF',
 'TB',
 'TEN',
 'WAS']

In [ ]:
#conference, divisions
AFCE = ['NYJ', 'NE', 'MIA', 'BUF']
AFCN = []
AFCS = []
AFCW = []