In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import json
import requests
from bs4 import BeautifulSoup as soup

In [11]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=list('abcd'))
df

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
#add new rows to df
cols = df.columns
cols
rows_list = []
r1 = {'a': 2, 'b':20, 'c':-2, 'd':15}
r2 = {'a': 12, 'b':0, 'c':7, 'd':10}
rows_list.extend([r1, r2])
df.append(pd.DataFrame(rows_list))


## add new col: assign a Series to the new col
df['new'] = pd.Series(np.arange(df.shape[1]))
df

   a  b   c   d  new
0  0  1   2   3    0
1  4  5   6   7    1
2  8  9  10  11    2

#df construction
- using a dict -> a row where each key is a column
- a list of multiple dicts: each dict a row
- a Series/list of multiple Series: ea series = one row
- a dictionary with Series for values: each series = one column

In [14]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])
pd.DataFrame([s1,s2])
pd.DataFrame({'a':s1, 'b':s2})

   a  b
0  1  4
1  2  5
2  3  6

In [15]:
print(df)
di = {0:999, 3:-300, 7:701, 11:1100}
df = df['d'].map(di)
df.values = np.arange(15)
df

   a  b   c   d  new
0  0  1   2   3    0
1  4  5   6   7    1
2  8  9  10  11    2

AttributeError: can't set attribute

In [13]:
# df stuff

# set a column as index and drop the current index
df.set_index('home_team',drop=True)
#copy df
df1 = df.copy()
# create new col using a Series of matching shape
df['new'] = new_series
#use replace to replace values in a df with values from another Series
df.replace(s1) #s1 must have as index the values to be replaced in df
#use map to replace values in a df with a dict
df['col1'].map(di)
#note:use vectorized functions whenver possible
#assign values e.g 0 based on satisfying some boolean condition
df['col1'][df['col2']==0] = 1 # use boolean mask to assign new vals to col1

#combine multiple columns into one col
#-> select matching cols, make sure they have same col names. Then append them.
temp_col_names = ['col1', 'col2']
df1.columns = temp_col_names
df2.columns = temp_col_names
df3 = df1.append(df2)
df

KeyError: "None of ['home_team'] are in the columns"